
.navbar{
    height: 50px;
.wrapper{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;

    .item{
        display: flex;
        align-items: center;

        a{
            text-decoration: none;
            color: #000;
            font-size: 15px;
        }

        img{
            width:50%;
        }

        span{
            font-size: 15px;
        }
       
    }


    .left{
        display:flex;
        gap: 20px;
        align-items: center;
    }

    .center{

        

    }

    .right{
        display:flex;
        gap: 20px;
        align-items: center;
    }
}
}